<div *ngIf="!loading" class="flex flex-col max-h-screen mb-2">
  <div class="card flex justify-content-center mb-3">
    <p-breadcrumb
      class="max-w-full"
      [model]="items"
      [home]="home"
    ></p-breadcrumb>
  </div>
  <p-card>
    <p-table
      #dt1
      [value]="users"
      responsiveLayout="stack"
      [loading]="loading"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      selectionMode="single"
      [(selection)]="selectedUser"
      dataKey="id"
      (onRowSelect)="onRowSelect($event)"
      [globalFilterFields]="[
        'nome',
        'cognome',
        'canale_com',
        'numero_telefono',
        'dataInserimento'
      ]"
      [styleClass]="'p-datatable-sm'"
    >
      <ng-template pTemplate="caption" class="p-0">
        <p-toolbar>
          <div class="p-toolbar-group-start">
            <p-button
              icon="pi pi-user-plus"
              pTooltip="Aggiungi Utente"
              tooltipPosition="top"
              (click)="addUser()"
              class="mr-2"
              styleClass="p-button-success"
            ></p-button>
          </div>
          <div class="p-toolbar-group-center">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                (input)="dt1.filterGlobal($event.target.value, 'contains')"
                placeholder="Ricerca Cliente"
                class="fields fieldsSearch"
              />
            </span>
          </div>
          <div class="p-toolbar-group-end">
            <p-button
              *ngIf="this.authService.getIsAdmin()"
              icon="pi pi-wrench"
              pTooltip="Admin Tools"
              tooltipPosition="top"
              (click)="showAdminDialogModal()"
              styleClass="p-button-info"
            ></p-button>
          </div>
        </p-toolbar>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nome" style="width: 20%">
            {{ "user_data.nome" | translate }}
            <p-sortIcon field="nome"></p-sortIcon>
          </th>
          <th pSortableColumn="cognome" style="width: 20%">
            {{ "user_data.cognome" | translate }}
            <p-sortIcon field="cognome"></p-sortIcon>
          </th>
          <th style="width: 20%">
            {{ "user_data.interventi" | translate }}
          </th>
          <th pSortableColumn="dataInserimento" style="width: 20%">
            {{ "user_data.data_ins" | translate }}
            <p-sortIcon field="dataInserimento"></p-sortIcon>
          </th>
          <th style="width: 20%">
            {{ "user_data.azioni" | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user *ngIf="!showModal">
        <tr [pSelectableRowDblClick]="user">
          <td>
            <span class="p-column-title">
              {{ "user_data.nome" | translate }}
            </span>
            {{ user.nome | uppercaseFirstLetter }}
          </td>
          <td class="flex-auto items-center">
            <span class="p-column-title">
              {{ "user_data.cognome" | translate }}
            </span>
            {{ user.cognome | uppercaseFirstLetter }}
          </td>
          <td>
            <span class="p-column-title">
              {{ "user_data.interventi" | translate }}
            </span>
            {{ getInterventi(user.id) }}
          </td>
          <td>
            <span class="p-column-title">
              {{ "user_data.data_ins" | translate }}
            </span>
            {{
              user.dataInserimento
                ? user.dataInserimento
                : "Nessuna data presente"
            }}
          </td>
          <td>
            <p-button
              pTooltip="Info"
              tooltipPosition="bottom"
              type="button"
              icon="pi pi-info-circle"
              class="mr-2"
              (click)="showInfoUser(user)"
              styleClass="p-button-info"
            />
            <p-button
              pTooltip="Cancella Utente"
              tooltipPosition="bottom"
              type="button"
              icon="pi pi-times-circle"
              (click)="confirmDeleteUser(user.id)"
              styleClass="p-button-danger"
            />
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nessun cliente trovato.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <p-dialog
    [header]="modalTitle"
    [(visible)]="showModal"
    aria-hidden="true"
    [style]="{ width: '50vw' }"
    [modal]="true"
  >
    <div class="grid items-center" (keyup.enter)="enterCheck()">
      <form [formGroup]="userInfoForm">
        <div class="grid grid-cols-2 mb-2">
          <div class="mb-1 mr-2">
            <label for="nome" class="labelInput">
              {{ "user_data.nome" | translate }}
            </label>
            <input
              id="nome"
              pInputText
              type="text"
              formControlName="nome"
              class="w-11/12 fields"
              required
            />
          </div>
          <div class="mb-1">
            <label class="labelInput" for="cognome">
              {{ "user_data.cognome" | translate }}
            </label>
            <input
              id="cognome"
              pInputText
              type="text"
              class="ml-2"
              formControlName="cognome"
              class="w-11/12 fields"
              required
            />
          </div>
        </div>
        <div class="grid grid-cols-2 mb-2">
          <div class="mb-1 mr-2">
            <label class="labelInput" for="numero_telefono">
              {{ "user_data.telefono" | translate }}
            </label>
            <input
              id="numero_telefono"
              pInputText
              pKeyFilter="int"
              formControlName="numero_telefono"
              class="w-11/12 fields"
              required
            />
          </div>
          <div class="mb-1">
            <label class="labelInput" for="indirizzo">
              {{ "user_data.indirizzo" | translate }}
            </label>
            <input
              id="indirizzo"
              pInputText
              type="text"
              class="ml-2"
              formControlName="indirizzo"
              class="w-11/12 fields"
              required
            />
          </div>
        </div>
        <div class="grid grid-cols-2 mb-2">
          <div class="mb-1 mr-2">
            <label class="labelInput" for="citta">
              {{ "user_data.citta" | translate }}
            </label>
            <input
              id="citta"
              pInputText
              type="text"
              formControlName="citta"
              class="w-11/12 fields"
              required
            />
          </div>
          <div class="mb-1">
            <label class="labelInput" for="cap">
              {{ "user_data.cap" | translate }}
            </label>
            <input
              id="cap"
              pInputText
              pKeyFilter="int"
              class="ml-2 appearance-none w-11/12 fields"
              formControlName="cap"
              required
            />
          </div>
        </div>
        <div class="grid grid-cols-2 mb-2">
          <div class="mb-1 mr-2">
            <label for="canale_com" class="labelInput">
              {{ "user_data.canale_com" | translate }}
            </label>
            <span class="p-input-icon-right w-11/12">
              <i class="pi pi-angle-down"></i>
              <select
                name="canale_com"
                id="canale_com"
                class="fields"
                formControlName="canale_com"
              >
                <option [ngValue]="null" disabled>Seleziona Canale</option>
                <option
                  [value]="canaleComunicazione"
                  *ngFor="let canaleComunicazione of canaleComunicazioni"
                >
                  {{ canaleComunicazione }}
                </option>
              </select>
            </span>
          </div>
          <div class="mb-1 mt-4">
            <label for="datiFattura" class="mr-2">
              {{ "user_data.dati_fattura" | translate }}
            </label>
            <p-checkbox
              formControlName="datiFattura"
              [(ngModel)]="checkedFattura"
              [binary]="true"
              id="datiFattura"
              class="mr-2"
            ></p-checkbox>
          </div>
        </div>
        <div
          class="border border-gray-500 rounded-md p-3 mb-2"
          *ngIf="checkedFattura"
        >
          <div class="grid grid-cols-2 mb-2">
            <div class="mb-1 mr-2">
              <label for="codiceFiscale" class="label">
                {{ "user_data.codice_fiscale" | translate }}
              </label>
              <input
                type="text"
                name="codiceFiscale"
                id="codiceFiscale"
                class="fields"
                formControlName="codiceFiscale"
              />
            </div>
            <div class="mb-1">
              <label for="partitaIva" class="label">
                {{ "user_data.partita_iva" | translate }}
              </label>
              <input
                type="text"
                name="partitaIva"
                id="partitaIva"
                class="fields"
                formControlName="partitaIva"
              />
            </div>
          </div>
          <div class="grid grid-cols-2 mb-2">
            <div class="mb-1 mr-2">
              <label for="pec" class="label">
                {{ "user_data.pec" | translate }}
              </label>
              <input
                type="text"
                name="pec"
                id="pec"
                class="fields"
                formControlName="pec"
              />
            </div>
            <div class="mb-1">
              <label for="codiceUnivoco" class="label">
                {{ "user_data.codice_univoco" | translate }}
              </label>
              <input
                type="text"
                name="codiceUnivoco"
                id="codiceUnivoco"
                class="fields"
                formControlName="codiceUnivoco"
              />
            </div>
            <div class="mb-1 mr-2 col-span-2">
              <label for="denominazione" class="label">
                {{ "user_data.denominazione" | translate }}
              </label>
              <input
                type="text"
                name="denominazione"
                id="denominazione"
                class="fields"
                formControlName="denominazione"
              />
            </div>
            <div class="mb-1 mr-2">
              <label for="indirizzoFatturazione" class="label">
                {{ "user_data.indirizzo_fatturazione" | translate }}
              </label>
              <input
                type="text"
                name="indirizzoFatturazione"
                id="indirizzoFatturazione"
                class="fields"
                formControlName="indirizzoFatturazione"
              />
            </div>
            <div class="mb-1">
              <label for="cittaFatturazione" class="label">
                {{ "user_data.citta_fatturazione" | translate }}
              </label>
              <input
                type="text"
                name="cittaFatturazione"
                id="cittaFatturazione"
                class="fields"
                formControlName="cittaFatturazione"
              />
            </div>
          </div>
        </div>
        <!-- <div class="row mb-2">
          <p
            [hidden]="!isInfo || !utenteInserimento"
            class="text-gray-500 text-sm italic"
          >
            Utente di inserimento: {{ utenteInserimento }}
          </p>
          <p
            [hidden]="!isInfo || !utenteUltimaModifica"
            [value]="utenteUltimaModifica"
            class="text-gray-500 text-sm italic"
          >
            Utente ultima modifica: {{ utenteUltimaModifica }}
          </p>
        </div> -->
      </form>
    </div>
    <div class="grid justify-center">
      <p-button
        styleClass="p-button-raised p-button-secondary"
        label="Aggiungi"
        [hidden]="isInfo"
        (onClick)="addNewUser()"
        [disabled]="!userInfoForm.valid"
      ></p-button>
      <p-button
        styleClass="p-button-raised p-button-secondary"
        label="Modifica"
        [hidden]="!isInfo"
        (onClick)="editUser()"
        [disabled]="!(userInfoForm.valid && userInfoForm.dirty)"
      ></p-button>
    </div>
  </p-dialog>

  <!-- Modale Incassi -->
  <p-dialog
    [(visible)]="showModalIncassi"
    aria-hidden="true"
    [style]="{ width: '60%' }"
    [modal]="true"
  >
    <ng-template pTemplate="header">
      <div
        class="flex align-items-center justify-between gap-2 w-full col-span-3"
      >
        <span class="font-bold text-2xl">
          {{ "user_data.incassi" | translate }}
        </span>
        <span *ngIf="selectedNegozio">
          Negozio Selezionato:{{
            selectedNegozio ? selectedNegozio : "Nessun negozio"
          }}
        </span>
        <p-button
          type="button"
          label="Spesa fissa"
          icon="p-icon pi pi-plus"
          (click)="modaleSpesaFissa()"
          class="p-2"
          styleClass="p-button-info"
        ></p-button>
      </div>
    </ng-template>
    <div class="mb-3">
      <label for="filterNegozio" class="label">
        {{ "user_data.negozio" | translate }}
      </label>
      <span class="p-input-icon-right w-full">
        <i class="pi pi-angle-down" *ngIf="!selectedNegozio"></i>
        <i
          class="pi pi-times"
          *ngIf="selectedNegozio"
          (click)="clearSelectedNegozio()"
        ></i>
        <select
          name="filterNegozio"
          id="filterNegozio"
          class="fields"
          (change)="retrieveValueNegozioForTableView()"
          [(ngModel)]="selectedNegozio"
        >
          <option [ngValue]="null" disabled>Seleziona negozio</option>
          <option
            [value]="filterNegozioItem"
            *ngFor="let filterNegozioItem of filterNegozio"
          >
            {{ filterNegozioItem }}
          </option>
        </select>
      </span>
    </div>
    <!-- Table per incassi non filtrati -->
    <p-table [value]="incassi" *ngIf="!selectedNegozio">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "user_data.mese" | translate }}</th>
          <th>{{ "user_data.lordo" | translate }}</th>
          <th>{{ "user_data.spese" | translate }}</th>
          <th>{{ "user_data.netto" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-incasso>
        <tr>
          <td>
            <span>
              {{ incasso.mese }}
              <i
                *ngIf="incasso.spesaFissa?.length > 0"
                class="pi pi-question-circle cursor-pointer"
                style="font-size: 0.75rem"
                pTooltip="Spese fisse"
                (click)="modaleListaSpeseFisse(incasso.mese)"
              ></i>
            </span>
          </td>
          <td>{{ incasso.incassoTotale }}€</td>
          <td>{{ incasso.speseTotale }}€</td>
          <td>{{ incasso.nettoTotale }}€</td>
        </tr>
      </ng-template>
    </p-table>
    <!-- Table per incassi filtrati -->
    <p-table [value]="filteredIncassi" *ngIf="selectedNegozio">
      <ng-template pTemplate="header">
        <tr>
          <th>Mese</th>
          <th>Lordo Negozio</th>
          <th>Spese Negozio</th>
          <th>Netto Negozio</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-filteredIncassi>
        <tr>
          <td>
            <span>
              {{ filteredIncassi.mese }}
              <i
                *ngIf="filteredIncassi.spesaFissa?.length > 0"
                class="pi pi-question-circle cursor-pointer"
                style="font-size: 0.75rem"
                pTooltip="Spese fisse"
                (click)="modaleListaSpeseFisse(filteredIncassi.mese)"
              ></i>
            </span>
          </td>
          <td>{{ filteredIncassi.negozio.incasso }}€</td>
          <td>{{ filteredIncassi.negozio.spese }}€</td>
          <td>{{ filteredIncassi.negozio.netto }}€</td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>

  <!-- Modale Spesa Fissa -->
  <p-dialog
    [header]="
      spesaFissaMode === 'Aggiungi'
        ? 'Aggiungi spesa fissa'
        : 'Modifica spesa fissa'
    "
    [(visible)]="showModalSpesaFissa"
    aria-hidden="true"
    [style]="{ width: '40%' }"
    [modal]="true"
  >
    <form [formGroup]="spesaFissaForm">
      <div class="grid grid-cols-3 mb-2 gap-2">
        <div>
          <label for="meseSpesaFissa" class="label">
            {{ "user_data.mese" | translate }}
          </label>
          <span class="p-input-icon-right w-full">
            <i class="pi pi-angle-down"></i>
            <select
              name="meseSpesaFissa"
              id="meseSpesaFissa"
              class="fields"
              formControlName="meseSpesaFissa"
            >
              <option [ngValue]="null" disabled>Seleziona Mese</option>
              <option
                [value]="meseSpesaFissa"
                *ngFor="let meseSpesaFissa of mesiSpesaFissa"
              >
                {{ meseSpesaFissa }}
              </option>
            </select>
          </span>
        </div>
        <div>
          <label for="notaSpesaFissa" class="label">
            {{ "user_data.nota" | translate }}
          </label>
          <input
            type="text"
            name="notaSpesaFissa"
            id="notaSpesaFissa"
            class="fields"
            formControlName="notaSpesaFissa"
          />
        </div>
        <div>
          <label for="costoSpesaFissa" class="label">
            {{ "user_data.costo_spesa_fissa" | translate }}
          </label>
          <input
            type="number"
            name="costoSpesaFissa"
            id="costoSpesaFissa"
            class="fields"
            formControlName="costoSpesaFissa"
          />
        </div>
      </div>
      <div class="grid justify-center">
        <p-button
          [label]="spesaFissaMode === 'Aggiungi' ? 'Aggiungi' : 'Modifica'"
          class="col-start-3"
          styleClass="p-button-raised p-button-secondary"
          (click)="editSpesaFissa()"
          [disabled]="!spesaFissaForm.valid"
        ></p-button>
      </div>
    </form>
  </p-dialog>

  <p-dialog
    header="Spese fisse"
    [(visible)]="showModalListaSpeseFisse"
    aria-hidden="true"
    [style]="{ width: '40%' }"
    [modal]="true"
  >
    <p-table
      [value]="listaSpeseFisse"
      selectionMode="single"
      [(selection)]="selectedSpesaFissa"
      (onRowSelect)="onRowSelectSpesaFissa($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "user_data.mese" | translate }}</th>
          <th>{{ "user_data.nota" | translate }}</th>
          <th>{{ "user_data.costo_noeuro" | translate }}</th>
          <th>{{ "user_data.azioni" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-spesaFissa>
        <tr [pSelectableRowDblClick]="spesaFissa">
          <td>{{ spesaFissa.meseSpesaFissa }}</td>
          <td>{{ spesaFissa.notaSpesaFissa }}</td>
          <td>{{ spesaFissa.costoSpesaFissa }} €</td>
          <td>
            <p-button
              pTooltip="Cancella Spesa Fissa"
              tooltipPosition="bottom"
              type="button"
              icon="pi pi-times-circle"
              (click)="
                confirmDeleteSpesaFissa(
                  spesaFissa.id,
                  spesaFissa.meseSpesaFissa
                )
              "
              styleClass="p-button-danger"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>

  <p-toast></p-toast>

  <p-overlayPanel #opStats>
    <ng-template pTemplate="content">
      <div *ngFor="let item of canaleComResults">
        <span>{{ item.name }}: {{ item.value }}</span>
      </div>
    </ng-template>
  </p-overlayPanel>

  <!-- Modale Admin Tools -->
  <p-dialog
    [header]="'Admin Tools'"
    [(visible)]="showAdminDialog"
    aria-hidden="true"
    [style]="{ width: '50vw' }"
    [modal]="true"
  >
    <div class="grid grid-cols-4 p-3 place-items-center gap-2">
      <p-button
        label="Export DB"
        (click)="exportFirebaseDatabaseToJSON()"
        class="mr-2"
        styleClass="p-button-secondary"
      ></p-button>
      <p-button
        label="Import DB"
        (click)="showUploadComponentMethod()"
        class="mr-2"
        styleClass="p-button-secondary"
      ></p-button>
      <p-button
        label="Incassi"
        (click)="modaleIncassi()"
        class="mr-2"
        styleClass="p-button-secondary"
      ></p-button>
      <p-button
        label="Statistiche"
        (click)="opStats.toggle($event)"
        styleClass="p-button-info"
      ></p-button>
      <p-button
        [hidden]="true"
        [label]="ambiente === 'test' ? 'Passa a Produzione' : 'Passa a Test'"
        (click)="passaggioAmbiente()"
        styleClass="p-button-info"
      ></p-button>
    </div>
    <div *ngIf="showUploadComponent">
      <p-fileUpload
        *ngIf="showUploadComponent"
        [showUploadButton]="false"
        [showCancelButton]="false"
        (onSelect)="onUploadFileJSON($event)"
      >
      </p-fileUpload>
      <div class="grid grid-cols-4 p-3">
        <p-button
          label="Aggiorna"
          [disabled]="!FileJSON"
          (click)="confirmImportFirebaseDatabaseFromJSON()"
          class="col-start-4 flex justify-end"
          styleClass="p-button-info"
        ></p-button>
      </div>
    </div>
  </p-dialog>

  <app-confirm-dialog></app-confirm-dialog>
</div>
