<div *ngIf="!loading" class="flex flex-col max-h-screen mb-2">
  <div class="card flex justify-content-center mb-3">
    <p-breadcrumb
      class="max-w-full"
      [model]="items"
      [home]="home"
    ></p-breadcrumb>
  </div>
  <p-card>
    <p-table
      #dt1
      [value]="users"
      responsiveLayout="stack"
      [loading]="loading"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      selectionMode="single"
      [(selection)]="selectedUser"
      dataKey="id"
      (onRowSelect)="onRowSelect($event)"
      [globalFilterFields]="[
        'nome',
        'cognome',
        'canale_com',
        'numero_telefono'
      ]"
      [styleClass]="'p-datatable-sm'"
    >
      <ng-template pTemplate="caption" class="p-0">
        <p-toolbar>
          <div class="p-toolbar-group-start">
            <p-button
              icon="pi pi-user-plus"
              pTooltip="Aggiungi Utente"
              tooltipPosition="top"
              (click)="addUser()"
              styleClass="p-button-success"
            ></p-button>
          </div>
          <div class="p-toolbar-group-center">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                (input)="dt1.filterGlobal($event.target.value, 'contains')"
                placeholder="Ricerca Cliente"
                class="fields fieldsSearch"
              />
            </span>
          </div>
          <div class="p-toolbar-group-end">
            <p-button
              *ngIf="this.authService.getIsAdmin()"
              pTooltip="Incassi"
              tooltipPosition="top"
              icon="pi pi-chart-line"
              (click)="modaleIncassi()"
              class="ml-2"
              styleClass="p-button-secondary"
            ></p-button>
            <p-button
              *ngIf="this.authService.getIsAdmin()"
              pTooltip="Statistiche Utenti"
              icon="pi pi-chart-bar"
              class="ml-2"
              (click)="op.toggle($event)"
              styleClass="p-button-info"
            ></p-button>
          </div>
        </p-toolbar>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nome" style="width: 20%">
            Nome<p-sortIcon field="nome"></p-sortIcon>
          </th>
          <th pSortableColumn="cognome" style="width: 20%">
            Cognome<p-sortIcon field="cognome"></p-sortIcon>
          </th>
          <th style="width: 20%">Interventi</th>
          <th style="width: 20%">Azioni</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user *ngIf="!showModal">
        <tr [pSelectableRowDblClick]="user">
          <td>
            <span class="p-column-title">Nome</span>
            {{ user.nome | uppercaseFirstLetter }}
          </td>
          <td class="flex-auto items-center">
            <span class="p-column-title">Cognome</span>
            {{ user.cognome | uppercaseFirstLetter }}
          </td>
          <td>
            <span class="p-column-title">Interventi</span>
            {{ getInterventi(user.id) }}
          </td>
          <td>
            <p-button
              pTooltip="Info"
              tooltipPosition="bottom"
              type="button"
              icon="pi pi-info-circle"
              class="mr-2"
              (click)="showInfoUser(user)"
              styleClass="p-button-info"
            />
            <p-button
              pTooltip="Cancella Utente"
              tooltipPosition="bottom"
              type="button"
              icon="pi pi-times-circle"
              (click)="confirmDeleteUser(user.id)"
              styleClass="p-button-danger"
            />
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nessun cliente trovato.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <p-dialog
    [header]="modalTitle"
    [(visible)]="showModal"
    aria-hidden="true"
    [style]="{ width: '50vw' }"
    [modal]="true"
  >
    <div class="grid items-center" (keyup.enter)="enterCheck()">
      <form [formGroup]="userInfoForm">
        <div class="grid grid-cols-2 mb-2">
          <div class="mb-1 mr-2">
            <label for="nome" class="labelInput">Nome</label>
            <input
              id="nome"
              pInputText
              type="text"
              formControlName="nome"
              class="w-11/12 fields"
              required
            />
          </div>
          <div class="mb-1">
            <label class="labelInput" for="cognome">Cognome</label>
            <input
              id="cognome"
              pInputText
              type="text"
              class="ml-2"
              formControlName="cognome"
              class="w-11/12 fields"
              required
            />
          </div>
        </div>
        <div class="grid grid-cols-2 mb-2">
          <div class="mb-1 mr-2">
            <label class="labelInput" for="numero_telefono">Telefono</label>
            <input
              id="numero_telefono"
              pInputText
              pKeyFilter="int"
              formControlName="numero_telefono"
              class="w-11/12 fields"
              required
            />
          </div>
          <div class="mb-1">
            <label class="labelInput" for="indirizzo">Indirizzo</label>
            <input
              id="indirizzo"
              pInputText
              type="text"
              class="ml-2"
              formControlName="indirizzo"
              class="w-11/12 fields"
              required
            />
          </div>
        </div>
        <div class="grid grid-cols-2 mb-2">
          <div class="mb-1 mr-2">
            <label class="labelInput" for="citta">Città</label>
            <input
              id="citta"
              pInputText
              type="text"
              formControlName="citta"
              class="w-11/12 fields"
              required
            />
          </div>
          <div class="mb-1">
            <label class="labelInput" for="cap">CAP</label>
            <input
              id="cap"
              pInputText
              pKeyFilter="int"
              class="ml-2 appearance-none w-11/12 fields"
              formControlName="cap"
              required
            />
          </div>
        </div>
        <div class="grid grid-cols-2 mb-2">
          <div class="mb-1 mr-2">
            <label for="canale_com" class="labelInput"
              >Canale Comunicazione</label
            >
            <span class="p-input-icon-right w-11/12">
              <i class="pi pi-angle-down"></i>
              <select
                name="canale_com"
                id="canale_com"
                class="fields"
                formControlName="canale_com"
              >
                <option [ngValue]="null" disabled>Seleziona Canale</option>
                <option
                  [value]="canaleComunicazione"
                  *ngFor="let canaleComunicazione of canaleComunicazioni"
                >
                  {{ canaleComunicazione }}
                </option>
              </select>
            </span>
          </div>
          <div class="mb-1 mt-4">
            <label for="datiFattura" class="mr-2">Dati Fattura</label>
            <p-checkbox
              formControlName="datiFattura"
              [(ngModel)]="checkedFattura"
              [binary]="true"
              id="datiFattura"
              class="mr-2"
            ></p-checkbox>
          </div>
        </div>
        <div
          class="border border-gray-500 rounded-md p-3 mb-2"
          *ngIf="checkedFattura"
        >
          <div class="grid grid-cols-2 mb-2">
            <div class="mb-1 mr-2">
              <label for="codiceFiscale" class="label">Codice Fiscale</label>
              <input
                type="text"
                name="codiceFiscale"
                id="codiceFiscale"
                class="fields"
                formControlName="codiceFiscale"
              />
            </div>
            <div class="mb-1">
              <label for="partitaIva" class="label">P. Iva</label>
              <input
                type="text"
                name="partitaIva"
                id="partitaIva"
                class="fields"
                formControlName="partitaIva"
              />
            </div>
          </div>
          <div class="grid grid-cols-2 mb-2">
            <div class="mb-1 mr-2">
              <label for="pec" class="label">PEC</label>
              <input
                type="text"
                name="pec"
                id="pec"
                class="fields"
                formControlName="pec"
              />
            </div>
            <div class="mb-1">
              <label for="codiceUnivoco" class="label">Codice Univoco</label>
              <input
                type="text"
                name="codiceUnivoco"
                id="codiceUnivoco"
                class="fields"
                formControlName="codiceUnivoco"
              />
            </div>
            <div class="mb-1 mr-2 col-span-2">
              <label for="denominazione" class="label">Denominazione</label>
              <input
                type="text"
                name="denominazione"
                id="denominazione"
                class="fields"
                formControlName="denominazione"
              />
            </div>
            <div class="mb-1 mr-2">
              <label for="indirizzoFatturazione" class="label"
                >Indirizzo Fatturazione</label
              >
              <input
                type="text"
                name="indirizzoFatturazione"
                id="indirizzoFatturazione"
                class="fields"
                formControlName="indirizzoFatturazione"
              />
            </div>
            <div class="mb-1">
              <label for="cittaFatturazione" class="label">Città</label>
              <input
                type="text"
                name="cittaFatturazione"
                id="cittaFatturazione"
                class="fields"
                formControlName="cittaFatturazione"
              />
            </div>
          </div>
        </div>
        <!-- <div class="row mb-2">
          <p
            [hidden]="!isInfo || !utenteInserimento"
            class="text-gray-500 text-sm italic"
          >
            Utente di inserimento: {{ utenteInserimento }}
          </p>
          <p
            [hidden]="!isInfo || !utenteUltimaModifica"
            [value]="utenteUltimaModifica"
            class="text-gray-500 text-sm italic"
          >
            Utente ultima modifica: {{ utenteUltimaModifica }}
          </p>
        </div> -->
      </form>
    </div>
    <div class="grid justify-center">
      <p-button
        styleClass="p-button-raised p-button-secondary"
        label="Aggiungi"
        [hidden]="isInfo"
        (onClick)="addNewUser()"
        [disabled]="!userInfoForm.valid"
      ></p-button>
      <p-button
        styleClass="p-button-raised p-button-secondary"
        label="Modifica"
        [hidden]="!isInfo"
        (onClick)="editUser()"
        [disabled]="!(userInfoForm.valid && userInfoForm.dirty)"
      ></p-button>
    </div>
  </p-dialog>

  <!-- Modale Incassi -->
  <p-dialog
    [(visible)]="showModalIncassi"
    aria-hidden="true"
    [style]="{ width: '60%' }"
    [modal]="true"
  >
    <ng-template pTemplate="header">
      <div class="flex align-items-center justify-between gap-2 w-full">
        <span class="font-bold text-2xl">Incassi</span>
        <p-button
          type="button"
          label="Spesa fissa"
          icon="p-icon pi pi-plus"
          (click)="modaleSpesaFissa()"
          class="p-2"
          styleClass="p-button-info"
        ></p-button>
      </div>
    </ng-template>
    <p-table [value]="incassi">
      <ng-template pTemplate="header">
        <tr>
          <th>Mese</th>
          <th>Lordo</th>
          <th>Spese</th>
          <th>Netto</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-incasso>
        <tr>
          <td>
            <span>
              {{ incasso.mese }}
              <i
                *ngIf="incasso.spesaFissa?.length > 0"
                class="pi pi-question-circle cursor-pointer"
                style="font-size: 0.75rem"
                pTooltip="Spese fisse"
                (click)="modaleListaSpeseFisse(incasso.mese)"
              ></i>
            </span>
          </td>
          <td>{{ incasso.incassoTotale }} €</td>
          <td>{{ incasso.spese }} €</td>
          <td>{{ incasso.netto }} €</td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>

  <!-- Modale Spesa Fissa -->
  <p-dialog
    [header]="
      spesaFissaMode === 'Aggiungi'
        ? 'Aggiungi spesa fissa'
        : 'Modifica spesa fissa'
    "
    [(visible)]="showModalSpesaFissa"
    aria-hidden="true"
    [style]="{ width: '40%' }"
    [modal]="true"
  >
    <form [formGroup]="spesaFissaForm">
      <div class="grid grid-cols-3 mb-2 gap-2">
        <div>
          <label for="meseSpesaFissa" class="label">Mese incasso</label>
          <span class="p-input-icon-right w-full">
            <i class="pi pi-angle-down"></i>
            <select
              name="meseSpesaFissa"
              id="meseSpesaFissa"
              class="fields"
              formControlName="meseSpesaFissa"
            >
              <option [ngValue]="null" disabled>Seleziona Mese</option>
              <option
                [value]="meseSpesaFissa"
                *ngFor="let meseSpesaFissa of mesiSpesaFissa"
              >
                {{ meseSpesaFissa }}
              </option>
            </select>
          </span>
        </div>
        <div>
          <label for="notaSpesaFissa" class="label">Nota</label>
          <input
            type="text"
            name="notaSpesaFissa"
            id="notaSpesaFissa"
            class="fields"
            formControlName="notaSpesaFissa"
          />
        </div>
        <div>
          <label for="costoSpesaFissa" class="label">Costo Incasso</label>
          <input
            type="number"
            name="costoSpesaFissa"
            id="costoSpesaFissa"
            class="fields"
            formControlName="costoSpesaFissa"
          />
        </div>
      </div>
      <div class="grid justify-center">
        <p-button
          [label]="spesaFissaMode === 'Aggiungi' ? 'Aggiungi' : 'Modifica'"
          class="col-start-3"
          styleClass="p-button-raised p-button-secondary"
          (click)="editSpesaFissa()"
          [disabled]="!spesaFissaForm.valid"
        ></p-button>
      </div>
    </form>
  </p-dialog>

  <p-dialog
    header="Spese fisse"
    [(visible)]="showModalListaSpeseFisse"
    aria-hidden="true"
    [style]="{ width: '40%' }"
    [modal]="true"
  >
    <p-table
      [value]="listaSpeseFisse"
      selectionMode="single"
      [(selection)]="selectedSpesaFissa"
      (onRowSelect)="onRowSelectSpesaFissa($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Mese</th>
          <th>Nota</th>
          <th>Costo</th>
          <th>Azioni</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-spesaFissa>
        <tr [pSelectableRowDblClick]="spesaFissa">
          <td>{{ spesaFissa.meseSpesaFissa }}</td>
          <td>{{ spesaFissa.notaSpesaFissa }}</td>
          <td>{{ spesaFissa.costoSpesaFissa }} €</td>
          <td>
            <p-button
              pTooltip="Cancella Spesa Fissa"
              tooltipPosition="bottom"
              type="button"
              icon="pi pi-times-circle"
              (click)="
                confirmDeleteSpesaFissa(
                  spesaFissa.id,
                  spesaFissa.meseSpesaFissa
                )
              "
              styleClass="p-button-danger"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>

  <p-toast></p-toast>

  <p-overlayPanel #op>
    <ng-template pTemplate="content">
      <div *ngFor="let item of canaleComResults">
        <span>{{ item.name }}: {{ item.value }}</span>
      </div>
    </ng-template>
  </p-overlayPanel>
  <app-confirm-dialog></app-confirm-dialog>
</div>
