<div *ngIf="!loading" class="flex flex-col">
  <h1 class="text-4xl font-bold mb-3">Database</h1>
  <p-card>
    <p-table
      #dt1
      [value]="users"
      responsiveLayout="stack"
      [loading]="loading"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      selectionMode="single"
      [(selection)]="selectedUser"
      dataKey="id"
      (onRowSelect)="onRowSelect($event)"
      [globalFilterFields]="['nome', 'cognome', 'canale_com']"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <div>
            <p-button
              label="Aggiungi Cliente"
              icon="pi pi-user-plus"
              (click)="addUser()"
              styleClass="p-button-secondary"
            ></p-button>
            <p-button
              *ngIf="this.authService.getIsAdmin()"
              label="Incassi"
              icon="pi pi-chart-line"
              (click)="modaleIncassi()"
              class="ml-2"
              styleClass="p-button-secondary"
            ></p-button>
          </div>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              (input)="dt1.filterGlobal($event.target.value, 'contains')"
              placeholder="Search keyword"
            />
          </span>

          <!-- <span class="p-input-icon-right">
            <i class="pi pi-times" (click)="clear(dt1)"></i>
          </span> -->
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nome" style="width: 20%">
            Nome<p-sortIcon field="nome"></p-sortIcon>
          </th>
          <th pSortableColumn="cognome" style="width: 20%">
            Cognome<p-sortIcon field="cognome"></p-sortIcon>
          </th>
          <th style="width: 20%">Interventi</th>
          <th pSortableColumn="canale_com" style="width: 20%">
            Canale Com.<p-sortIcon field="canale_com"></p-sortIcon>
          </th>
          <th style="width: 20%">Azioni</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user *ngIf="!showModal">
        <tr [pSelectableRowDblClick]="user">
          <td><span class="p-column-title">Nome</span>{{ user.nome }}</td>
          <td><span class="p-column-title">Cognome</span>{{ user.cognome }}</td>
          <td>
            <span class="p-column-title">Interventi</span
            >{{ getInterventi(user.id) }}
          </td>
          <td>
            <span class="p-column-title">Canale Com.</span>{{ user.canale_com }}
          </td>
          <td>
            <p-button
              styleClass="p-button-info"
              pTooltip="Info"
              tooltipPosition="bottom"
              icon="pi pi-info-circle"
              class="mr-2"
              (click)="showInfoUser(user)"
            ></p-button>
            <p-button
              styleClass="p-button-danger"
              pTooltip="Cancella Utente"
              tooltipPosition="bottom"
              icon="pi pi-times-circle"
              (click)="confirmDeleteUser(user.id)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nessun cliente trovato.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <p-dialog
    [header]="modalTitle"
    [(visible)]="showModal"
    aria-hidden="true"
    [style]="{ width: '50vw' }"
    [modal]="true"
  >
    <div class="grid items-center" (keyup.enter)="enterCheck()">
      <form [formGroup]="userInfoForm">
        <div class="grid grid-cols-2 mb-2">
          <div class="mb-1">
            <label for="nome" class="labelInput">Nome</label>
            <input
              id="nome"
              pInputText
              type="text"
              formControlName="nome"
              class="w-11/12"
              required
            />
          </div>
          <div class="mb-1">
            <label class="labelInput" for="cognome">Cognome</label>
            <input
              id="cognome"
              pInputText
              type="text"
              class="ml-2"
              formControlName="cognome"
              class="w-11/12"
              required
            />
          </div>
        </div>
        <div class="grid grid-cols-2 mb-2">
          <div class="mb-1">
            <label class="labelInput" for="numero_telefono">Telefono</label>
            <input
              id="numero_telefono"
              pInputText
              pKeyFilter="int"
              formControlName="numero_telefono"
              class="w-11/12"
              required
            />
          </div>
          <div class="mb-1">
            <label class="labelInput" for="indirizzo">Indirizzo</label>
            <input
              id="indirizzo"
              pInputText
              type="text"
              class="ml-2"
              formControlName="indirizzo"
              class="w-11/12"
              required
            />
          </div>
        </div>
        <div class="grid grid-cols-2 mb-2">
          <div class="mb-1">
            <label class="labelInput" for="citta">Città</label>
            <input
              id="citta"
              pInputText
              type="text"
              formControlName="citta"
              class="w-11/12"
              required
            />
          </div>
          <div class="mb-1">
            <label class="labelInput" for="cap">CAP</label>
            <input
              id="cap"
              pInputText
              pKeyFilter="int"
              class="ml-2 appearance-none"
              formControlName="cap"
              class="w-11/12"
              required
            />
          </div>
        </div>
        <div class="grid grid-cols-2 mb-2">
          <div class="mb-1">
            <label for="canale_com" class="labelInput"
              >Canale Comunicazione</label
            >
            <span class="p-input-icon-right w-11/12">
              <i class="pi pi-angle-down"></i>
              <select
                name="canale_com"
                id="canale_com"
                class="fields"
                formControlName="canale_com"
              >
                <option [ngValue]="null" disabled>Seleziona Canale</option>
                <option
                  [value]="canaleComunicazione"
                  *ngFor="let canaleComunicazione of canaleComunicazioni"
                >
                  {{ canaleComunicazione }}
                </option>
              </select>
            </span>
          </div>
        </div>

        <!-- <div class="row mb-2">
          <p
            [hidden]="!isInfo || !utenteInserimento"
            class="text-gray-500 text-sm italic"
          >
            Utente di inserimento: {{ utenteInserimento }}
          </p>
          <p
            [hidden]="!isInfo || !utenteUltimaModifica"
            [value]="utenteUltimaModifica"
            class="text-gray-500 text-sm italic"
          >
            Utente ultima modifica: {{ utenteUltimaModifica }}
          </p>
        </div> -->
      </form>
    </div>
    <div class="grid justify-center">
      <p-button
        styleClass="p-button-raised p-button-secondary"
        label="Aggiungi"
        [hidden]="isInfo"
        (onClick)="addNewUser()"
        [disabled]="!userInfoForm.valid"
      ></p-button>
      <p-button
        styleClass="p-button-raised p-button-secondary"
        label="Modifica"
        [hidden]="!isInfo"
        (onClick)="editUser()"
        [disabled]="!(userInfoForm.valid && userInfoForm.dirty)"
      ></p-button>
    </div>
  </p-dialog>

  <p-dialog
    [header]="'Incassi'"
    [(visible)]="showModalIncassi"
    aria-hidden="true"
    [style]="{ width: '60%' }"
    [modal]="true"
  >
    <p-table [value]="incassi">
      <ng-template pTemplate="header">
        <tr>
          <th>Mese</th>
          <th>Guadagno</th>
          <th>Spese</th>
          <th>Netto</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-incasso>
        <tr>
          <td>{{ incasso.mese }}</td>
          <td>{{ incasso.incassoTotale }}</td>
          <td>{{ incasso.spese }}</td>
          <td>{{ incasso.netto }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>
  <p-toast></p-toast>
  <app-confirm-dialog></app-confirm-dialog>
</div>
