/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "src/app/shared-styles.scss";

.labelInput {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #fff;
}

.fieldsSearch {
  @extend .fields;
  padding-left: 2.5rem;
  width: 600px;
  @media screen and (max-width: 1023px) {
    transition: width 1 ease-in-out;
    width: 400px;
  }
}

::ng-deep .p-card .p-card-content {
  padding: 0;
}

::ng-deep .p-datatable.p-datatable-sm .p-datatable-header {
  padding: 0;
  padding-bottom: 1px;
}

::ng-deep .p-breadcrumb {
  background: transparent;
  border: none;
  border-color: transparent;
  .p-breadcrumb-list {
    li.p-menuitem-separator {
      color: black;
    }
    li .p-menuitem-link .p-menuitem-icon {
      color: black;
    }
    li:last-child .p-menuitem-text {
      color: black;
    }
  }
}

::ng-deep .p-breadcrumb {
  padding: 0px;
}

::ng-deep ul.p-breadcrumb-list {
  height: 30px;
}

::ng-deep .p-toolbar {
  border: none;
}

.truncate-text {
  white-space: nowrap; /* Impedisce al testo di andare a capo */
  text-overflow: ellipsis; /* Aggiunge i puntini di sospensione (...) al testo troncato */
  max-width: 100%;
}
