/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";

.labelInput {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #fff;
}

.fields {
  appearance: none;
  -moz-appearance: none;
  background-color: #374151;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: block;
  width: 100%;
  padding: 0.625rem;
  color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 0.5rem;
}

.fieldsSearch {
  @extend .fields;
  padding-left: 2.5rem;
  width: 600px;
  @media screen and (max-width: 1023px) {
    transition: width 1 ease-in-out;
    width: 400px;
  }
}

::ng-deep .p-card .p-card-content {
  padding: 0;
}

::ng-deep .p-datatable.p-datatable-sm .p-datatable-header {
  padding: 0;
  padding-bottom: 1px;
}

::ng-deep .p-breadcrumb {
  background: transparent;
  border: none;
  border-color: transparent;
  .p-breadcrumb-list {
    li.p-menuitem-separator {
      color: black;
    }
    li .p-menuitem-link .p-menuitem-icon {
      color: black;
    }
    li:last-child .p-menuitem-text {
      color: black;
    }
  }
}

::ng-deep .p-breadcrumb {
  padding: 0px;
}

::ng-deep ul.p-breadcrumb-list {
  height: 30px;
}

::ng-deep .p-toolbar {
  border: none;
}

.truncate-text {
  white-space: nowrap; /* Impedisce al testo di andare a capo */
  text-overflow: ellipsis; /* Aggiunge i puntini di sospensione (...) al testo troncato */
  max-width: 100%;
}
