.datiFatturaContainer {
  border-width: 1px;
  border-color: var(--field-border-color);
  border-radius: 0.375rem /* 6px */;
  padding: 0.75rem /* 12px */;
  margin-bottom: 0.5rem /* 8px */;
}

.buttonLabel {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  & .label {
    margin-bottom: 0px;
  }
}
