<ng-container
  *ngIf="usersWithInterventi$ | async as users; else loadingTemplate"
>
  <div class="flex flex-col max-h-screen mb-2">
    <div class="card flex justify-content-center mb-3">
      <p-breadcrumb
        class="max-w-full"
        [model]="items"
        [home]="home"
      ></p-breadcrumb>
    </div>
    <p-card>
      <p-table
        #dt1
        stateStorage="session"
        stateKey="userList-session"
        [scrollable]="true"
        scrollHeight="360px"
        [value]="users"
        responsiveLayout="stack"
        [loading]="false"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        selectionMode="single"
        dataKey="id"
        (onRowSelect)="onRowSelect($event)"
        [globalFilterFields]="[
          'nome',
          'cognome',
          'canale_com',
          'numero_telefono',
          'dataInserimento'
        ]"
        [styleClass]="'p-datatable-sm'"
      >
        <ng-template pTemplate="caption" class="p-0">
          <p-toolbar>
            <div class="p-toolbar-group-start">
              <p-button
                icon="pi pi-user-plus"
                pTooltip="Aggiungi Utente"
                tooltipPosition="top"
                (click)="addUser()"
                severity="primary"
              ></p-button>
            </div>
            <div class="p-toolbar-group-center flex-container">
              <span class="p-input-icon-left responsive-input">
                <i class="pi pi-search"></i>
                <input
                  type="text"
                  pInputText
                  (input)="dt1.filterGlobal($event.target.value, 'contains')"
                  placeholder="Ricerca Cliente"
                  class="fields fieldsSearch"
                  id="search_field_user_list"
                />
              </span>
            </div>
            <div class="p-toolbar-group-end">
              <p-button
                *ngIf="this.authService.getIsAdmin()"
                icon="pi pi-wrench"
                pTooltip="Admin Tools"
                tooltipPosition="top"
                (click)="showAdminToolsModal()"
              ></p-button>
            </div>
          </p-toolbar>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 20%">
              {{ "user_data.nome" | translate }}
              <p-columnFilter type="text" field="nome" display="menu" />
            </th>
            <th style="width: 20%">
              {{ "user_data.cognome" | translate }}
              <p-columnFilter type="text" field="cognome" display="menu" />
            </th>
            <th style="width: 20%">
              {{ "user_data.interventi" | translate }}
            </th>
            <th style="width: 20%">
              {{ "user_data.data_ins" | translate }}
            </th>
            <th style="width: 20%">
              {{ "user_data.azioni" | translate }}
            </th>
          </tr>
        </ng-template>
        <ng-container *ngIf="users && users.length > 0">
          <ng-template pTemplate="body" let-user *ngIf="!showModal">
            <tr [pSelectableRowDblClick]="user">
              <td>
                <span class="p-column-title">
                  {{ "user_data.nome" | translate }}
                </span>
                {{ user.nome | uppercaseFirstLetter }}
              </td>
              <td class="flex-auto items-center">
                <span class="p-column-title">
                  {{ "user_data.cognome" | translate }}
                </span>
                {{ user.cognome | uppercaseFirstLetter }}
              </td>
              <td>
                <span class="p-column-title">
                  {{ "user_data.interventi" | translate }}
                </span>
                {{ user.interventiCount }}
              </td>
              <td>
                <span class="p-column-title">
                  {{ "user_data.data_ins" | translate }}
                </span>
                {{
                  user.dataInserimento
                    ? user.dataInserimento
                    : "Nessuna data presente"
                }}
              </td>
              <td
                class="grid grid-cols-4 md:grid-cols-4 sm:grid-cols-2 p-2 sm:p-6 place-items-center gap-1"
              >
                <p-button
                  pTooltip="Info"
                  tooltipPosition="bottom"
                  icon="pi pi-info-circle"
                  class="mr-2"
                  (click)="editUser(user)"
                />
                <p-button
                  pTooltip="Cancella Utente"
                  tooltipPosition="bottom"
                  icon="pi pi-times-circle"
                  (click)="confirmDeleteUser(user.id)"
                />
                <p-button
                  styleClass="p-button-success"
                  icon="pi pi-whatsapp"
                  pTooltip="Chat whatsapp"
                  tooltipPosition="bottom"
                  (click)="chatWhatsapp(user.numero_telefono)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </ng-container>

        <ng-template *ngIf="users.length === 0" pTemplate="emptymessage">
          <tr>
            <td colspan="7">Nessun cliente trovato.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <user-list-modal
      *ngIf="showModal"
      [showModal]="showModal"
      (showModalChange)="handleShowModalChange($event)"
    >
    </user-list-modal>

    <admin-tools-modal
      *ngIf="showAdminModal"
      [(showAdminModal)]="showAdminModal"
      (showAdminModalChange)="handleShowAdminModalChange($event)"
    />

    <app-confirm-dialog></app-confirm-dialog>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <app-circle-spinner></app-circle-spinner>
</ng-template>
