<nav class="bg-slate-500 border-gray-200 dark:bg-slate-900">
  <div class="flex p-4 w-full">
    <button (click)="setSidenavState()" [hidden]="isLogin" class="mr-2" [class.fadeIn]="!isLogin">
      <i
        class="pi pi-cog px-2"
        style="color: white"
        [class]="isRotated ? 'rotate' : 'rotate-reset'"
      ></i>
    </button>
    <span
      class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
      [ngStyle]="{ cursor: 'pointer' }"
      (click)="goHome()"
      >Virsa Tunes</span
    >
  </div>
</nav>