<ng-container *ngIf="currentTheme$ | async as currentTheme">
  <nav class="header-nav">
    <div class="header-container">
      <div class="header-left-section">
        <!-- Altri elementi del lato sinistro -->
      </div>
      <div
        class="header-center-section card flex justify-content-center text-2"
      >
        <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
        <button
          class="header-menu-button"
          type="button"
          (click)="menu.toggle($event)"
          icon="pi pi-bars"
          label="Virsa Tunes"
          pButton
        ></button>
      </div>
      <div class="header-right-section">
        <button
          class="theme-toggle-button mr-2"
          (click)="toggleTheme()"
          pButton
        >
          <i
            class="pi pi-sun"
            [ngClass]="{ active: currentTheme === 'theme-light' }"
          >
          </i>
          <i
            class="pi pi-moon"
            [ngClass]="{ active: currentTheme === 'theme-dark' }"
          >
          </i>
        </button>
      </div>
    </div>
  </nav>
</ng-container>
