<div class="flex flex-col">
  <h1 class="text-4xl font-bold mb-3">Database</h1>
  <p-card>
    <p-table
      #dt1
      [value]="users"
      responsiveLayout="stack"
      [loading]="loading"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      selectionMode="single"
      [(selection)]="selectedUser"
      dataKey="id"
      (onRowSelect)="onRowSelect($event)"
      [globalFilterFields]="['nome', 'cognome']"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <div>
            <p-button
              label="Aggiungi Cliente"
              icon="pi pi-user-plus"
              (click)="AddClient()"
              styleClass="p-button-secondary"
            ></p-button>
          </div>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              (input)="dt1.filterGlobal($event.target.value, 'contains')"
              placeholder="Search keyword"
            />
          </span>

          <!-- <span class="p-input-icon-right">
            <i class="pi pi-times" (click)="clear(dt1)"></i>
          </span> -->
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nome">
            Nome<p-sortIcon field="nome"></p-sortIcon>
          </th>
          <th pSortableColumn="cognome">
            Cognome<p-sortIcon field="cognome"></p-sortIcon>
          </th>
          <th>Interventi</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr [pSelectableRow]="user">
          <td><span class="p-column-title">Nome</span>{{ user.nome }}</td>
          <td><span class="p-column-title">Cognome</span>{{ user.cognome }}</td>
          <td><span class="p-column-title">Interventi</span></td>
        </tr>
      </ng-template>
      <!-- <ng-template pTemplate="paginatorleft">
        <p-button
          type="button"
          icon="pi pi-plus"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button
          type="button"
          icon="pi pi-cloud"
          styleClass="p-button-text"
        ></p-button>
      </ng-template> -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
