<div *ngIf="!loading" class="flex flex-col max-h-screen mb-2">
  <div class="card flex justify-content-center mb-3">
    <p-breadcrumb
      class="max-w-full"
      [model]="breadCrumbItems"
      [home]="home"
    ></p-breadcrumb>
  </div>
  <p-card>
    <p-table
      #dt1
      [value]="_specificData"
      responsiveLayout="stack"
      [loading]="loading"
      [paginator]="true"
      [rows]="5"
      [rowHover]="false"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [selectionMode]="multipleSelection ? 'multiple' : 'single'"
      [(selection)]="selectedSpecificData"
      [metaKeySelection]="false"
      dataKey="id"
      (onRowSelect)="multipleSelection ? null : onRowSelect($event)"
      [globalFilterFields]="['tipo_intervento', 'data_intervento', 'costo']"
      [styleClass]="'p-datatable-sm'"
    >
      <ng-template pTemplate="caption" class="p-0">
        <p-toolbar>
          <div class="p-toolbar-group-start">
            <p-button
              icon="pi pi-arrow-left"
              pTooltip="Lista Clienti"
              tooltipPosition="top"
              (click)="goBack()"
              styleClass="p-button-info"
            ></p-button>
            <p-button
              icon="pi pi-plus"
              pTooltip="Aggiungi Intervento"
              tooltipPosition="top"
              (click)="newIntervento()"
              class="ml-2"
              styleClass="p-button-success"
            ></p-button>
          </div>
          <div class="p-toolbar-group-center">
            <div class="outlineText flex items-center">
              <span class="text-2xl text-white font-bold mr-2">
                {{ this.fullName }}
              </span>
              <span> Interventi Totali: {{ interventiTotali }}</span>
            </div>
          </div>
          <div class="p-toolbar-group-end">
            <p-button
              pTooltip="Stampa Multi-S"
              tooltipPosition="top"
              [disabled]="checkEnableStampaMultiScontrino()"
              styleClass="p-button-raised p-button-danger w-full"
              icon="pi pi-print"
              (click)="
                !checkEnableStampaMultiScontrino() ? openModalScontrino() : null
              "
              *ngIf="multipleSelection"
              [@fadeInOut]
            ></p-button>
            <p-button
              [pTooltip]="
                multipleSelection ? 'Disattiva Multi-S' : ' Attiva Multi-S'
              "
              tooltipPosition="top"
              styleClass="p-button-raised p-button-secondary w-full"
              class="ml-2"
              icon="pi pi-book"
              (click)="selezioneScontrinoMultiplo()"
            ></p-button>
          </div>
        </p-toolbar>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem" *ngIf="multipleSelection">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="tipo_intervento">
            {{ "user_data.tipo_intervento" | translate }}
            <p-sortIcon field="tipo_intervento"></p-sortIcon>
          </th>
          <th pSortableColumn="modello_telefono">
            {{ "user_data.modello_telefono_table" | translate }}
            Prodotto<p-sortIcon field="modello_telefono"></p-sortIcon>
          </th>
          <th pSortableColumn="data_intervento">
            {{ "user_data.data_intervento" | translate }}
            <p-sortIcon field="data_intervento"></p-sortIcon>
          </th>
          <th pSortableColumn="costo">
            {{ "user_data.costo" | translate }}
            <p-sortIcon field="costo"></p-sortIcon>
          </th>
          <th>
            {{ "user_data.azioni" | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-specificData>
        <tr [pSelectableRowDblClick]="specificData">
          <td *ngIf="multipleSelection">
            <p-tableCheckbox [value]="specificData"></p-tableCheckbox>
          </td>
          <td>
            <span class="p-column-title">
              {{ "user_data.tipo_intervento" | translate }}
            </span>
            {{ specificData.tipo_intervento }}
          </td>
          <td>
            <span class="p-column-title">
              {{ "user_data.modello_telefono_table" | translate }}
            </span>
            {{ specificData.modello_telefono }}
          </td>
          <td>
            <span class="p-column-title">
              {{ "user_data.data_intervento" | translate }}
            </span>
            {{ specificData.data_intervento | date : "dd/MM/yyyy" }}
          </td>
          <td>
            <span class="p-column-title">
              {{ "user_data.totale" | translate }}
            </span>
            {{ getTotalOfProduct(specificData) }}
            €
          </td>
          <td>
            <p-button
              styleClass="p-button-danger"
              icon="pi pi-times-circle"
              pTooltip="Cancella Intervento"
              tooltipPosition="bottom"
              (click)="confirmDeleteIntervento(specificData.id)"
            ></p-button>
            <p-button
              styleClass="p-button-success"
              icon="pi pi-file-excel"
              pTooltip="Crea Excel"
              tooltipPosition="bottom"
              (click)="createExcelFile(specificData)"
              class="ml-2"
            ></p-button>
            <p-button
              styleClass="p-button-help"
              icon="pi pi-print"
              pTooltip="Stampa Scontrino"
              tooltipPosition="bottom"
              (click)="print(specificData)"
              class="ml-2"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nessun intervento per questo cliente.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <!-- Dialog di conferma per rimozione elemento -->
  <app-confirm-dialog></app-confirm-dialog>

  <!-- Dialog per stampa scontrino multipla -->
  <p-dialog
    #dialog
    [modal]="true"
    [(visible)]="showPrintModal"
    (onHide)="closeDialog()"
    [header]="'Stampa Scontrino Multipla'"
    [style]="{ width: '50vw' }"
  >
    <p-table [value]="selectedSpecificDataScontrino">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "user_data.modello_telefono_table" | translate }}</th>
          <th>{{ "user_data.costo_noeuro" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-selectedSpecificDataItem>
        <tr>
          <td>{{ selectedSpecificDataItem.modello_telefono }}</td>
          <td>{{ getTotalOfProduct(selectedSpecificDataItem) }}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-button
      label="Stampa"
      styleClass="p-button-info"
      icon="pi pi-print"
      (click)="multiPrint(selectedSpecificDataScontrino)"
      class="grid place-content-center mt-2 mr-2"
    ></p-button>
  </p-dialog>

  <!-- Inizio modale per inserimento nuovo/modifica intervento -->
  <user-data-modal
    *ngIf="showModal"
    [showModal]="showModal"
    (showModalChange)="handleShowModalChange($event)"
  />
</div>

<!-- prettier-ignore -->
