@tailwind base;
@tailwind components;
@tailwind utilities;

select::-ms-expand {
  display: none;
}
select {
  appearance: none;
  -moz-appearance: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
