html,
body,
app-root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mainContent {
  height: calc(100vh - 80px);
  width: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: -1;
}