<app-header (isSidenavOpen)="onSidenavToggle($event)"></app-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [(opened)]="isSidenavOpen" mode="side" opened autosize>
    <mat-nav-list class="mr-2 ml-2 flex items-stretch align-center">
      <button
        (click)="setPrinterDevice()"
        pTooltip="Scegli Stampante"
        tooltipPosition="right"
      >
        <i class="pi pi-print" style="color: white; margin-top: 2px"></i>
        Set. Stampante
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Main content goes here -->
    <div class="flex-auto mx-auto p-10 ml-48 mr-48">
      <router-outlet
        [@routeAnimations]="getRouteAnimationData()"
      ></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
