<p-dialog
  [header]="modalTitle"
  [(visible)]="showModal"
  [style]="{ width: '50vw' }"
  [modal]="true"
  (onHide)="handleClose()"
  [style]="{ 'overflow-y': 'hidden' }"
>
  <div class="grid items-center overflow-y-hidden" (keyup.enter)="enterCheck()">
    <form [formGroup]="formData">
      <div class="grid grid-cols-2 mb-2">
        <div class="mb-1 mr-2">
          <label class="label" for="imei">IMEI</label>
          <input
            class="ml-2"
            id="imei"
            type="text"
            formControlName="imei"
            class="w-11/12 fields"
          />
        </div>
        <div class="mb-1">
          <label class="label" for="quantita">Quantità</label>
          <input
            class="w-11/12 fields"
            id="quantita"
            pKeyFilter="int"
            formControlName="quantita"
            required
          />
        </div>

        <div class="mb-1 mr-2">
          <virsa-select
            [label]="'inventario.negozio' | translate"
            [dataSet]="negozioDataSet"
            specificName="negozio_inventario_modal"
            formControlName="negozio"
            [group]="formData"
            [externalValue]="formData.get('negozio').value"
          ></virsa-select>
        </div>
        <div class="mb-1">
          <label for="nome" class="label">Nome</label>
          <input
            class="w-11/12 fields"
            id="nome"
            type="text"
            formControlName="nome"
            required
          />
        </div>
        <div class="mb-1 mr-2">
          <virsa-select
            [label]="'inventario.marca' | translate"
            [dataSet]="marcaDataSet"
            specificName="marca_inventario_modal"
            formControlName="marca"
            [group]="formData"
            [externalValue]="formData.get('marca').value"
          ></virsa-select>
        </div>
        <div class="mb-1">
          <label for="colore" class="label">Colore</label>
          <input
            class="w-11/12 fields"
            id="colore"
            type="text"
            formControlName="colore"
            required
          />
        </div>
        <div class="mb-1 mr-2">
          <label for="memoria" class="label">Memoria (GB)</label>
          <input
            class="w-11/12 fields"
            id="memoria"
            type="text"
            formControlName="memoria"
            required
          />
        </div>
        <div class="mb-1">
          <virsa-select
            [label]="'inventario.grado' | translate"
            [dataSet]="gradoDataSet"
            specificName="grado_inventario_modal"
            formControlName="grado"
            [group]="formData"
            [externalValue]="formData.get('grado').value"
          ></virsa-select>
        </div>
        <div class="mb-1 mr-2">
          <virsa-select
            [label]="'inventario.garanzia' | translate"
            [dataSet]="garanziaDataSet"
            specificName="garanzia_mesi_inventario_modal"
            formControlName="garanzia_mesi"
            [group]="formData"
            [externalValue]="formData.get('garanzia_mesi').value"
          ></virsa-select>
        </div>
        <div class="mb-1">
          <label class="label" for="fornitore"> Fornitore </label>
          <input
            class="w-11/12 fields"
            id="fornitore"
            type="text"
            formControlName="fornitore"
            required
          />
        </div>
        <div class="mb-1 mr-2">
          <label class="label" for="perc_batteria">
            Percentuale Batteria %
          </label>
          <input
            class="w-11/12 fields"
            id="perc_batteria"
            pKeyFilter="int"
            formControlName="perc_batteria"
            required
          />
        </div>
        <div class="mb-1">
          <label class="label" for="prezzo_negozio"> Prezzo Negozio € </label>
          <input
            class="w-11/12 fields"
            id="prezzo_negozio"
            pKeyFilter="int"
            formControlName="prezzo_negozio"
            required
          />
        </div>
        <div class="mb-1 mr-2">
          <label class="label" for="prezzo_online"> Prezzo Online € </label>
          <input
            class="w-11/12 fields"
            id="prezzo_online"
            pKeyFilter="int"
            formControlName="prezzo_online"
            required
          />
        </div>
        <div class="mb-1" [hidden]="!this.isAdmin">
          <label class="label" for="prezzo_acquisto"> Prezzo Acquisto € </label>
          <input
            class="w-11/12 fields"
            id="prezzo_acquisto"
            pKeyFilter="int"
            formControlName="prezzo_acquisto"
            required
          />
        </div>
      </div>
    </form>
  </div>
  <div class="grid justify-center">
    <div class="flex flex-row">
      <p-button *ngIf="isDevMode" (onClick)="findInvalidControls()" class="mr-3">
        check values
      </p-button>
      <div *ngIf="isAdmin">
        <p-button
          *ngIf="mode === 'Add'"
          styleClass="p-button-raised p-button-secondary"
          label="Aggiungi"
          (onClick)="addNewItem()"
          [disabled]="!formData.valid"
        ></p-button>
        <p-button
          *ngIf="mode === 'Edit'"
          styleClass="p-button-raised p-button-secondary"
          label="Modifica"
          (onClick)="editItem()"
          [disabled]="!(formData.valid && formData.dirty)"
        ></p-button>
      </div>
    </div>
  </div>
</p-dialog>
