/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

select::-ms-expand {
  display: none;
}
select {
  appearance: none;
  -moz-appearance: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #fff;
}

.labelShort {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #fff;
}

.fields {
  appearance: none;
  -moz-appearance: none;
  background-color: #374151;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: block;
  width: 100%;
  padding: 0.625rem;
  color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 0.5rem;
}

.fieldsShort {
  appearance: none;
  -moz-appearance: none;
  background-color: #374151;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 90%;
  padding: 0.625rem;
  color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 0.5rem;
}

::ng-deep .p-calendar {
  
  .p-datepicker table td {
    /*adjust the padding*/
    padding: 0.22rem;
  }
  .p-datepicker table td > span {
    /*adjust the width and height*/
    width: 50%;
    height: 50%;
  }
  .p-inputtext {
    appearance: none;
    -moz-appearance: none;
    background-color: #374151;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem;
    color: #fff;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
      0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.5rem;
  }
}
