<div *ngIf="!loading" class="flex flex-col max-h-screen mb-2">
  <div class="card flex justify-content-center mb-3">
    <p-breadcrumb
      class="max-w-full"
      [model]="breadCrumbItems"
      [home]="home"
    ></p-breadcrumb>
  </div>
  <p-card>
    <p-table
      #dt1
      [value]="_specificData"
      responsiveLayout="stack"
      [loading]="loading"
      [paginator]="true"
      [rows]="5"
      [rowHover]="false"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [selectionMode]="multipleSelection ? 'multiple' : 'single'"
      [(selection)]="selectedSpecificData"
      [metaKeySelection]="false"
      dataKey="id"
      (onRowSelect)="multipleSelection ? null : onRowSelect($event)"
      [globalFilterFields]="['tipo_intervento', 'data_intervento', 'costo']"
      [styleClass]="'p-datatable-sm'"
    >
      <ng-template pTemplate="caption" class="p-0">
        <p-toolbar>
          <div class="p-toolbar-group-start">
            <p-button
              icon="pi pi-arrow-left"
              pTooltip="Lista Clienti"
              tooltipPosition="top"
              (click)="goBack()"
              styleClass="p-button-info"
            ></p-button>
            <p-button
              icon="pi pi-plus"
              pTooltip="Aggiungi Intervento"
              tooltipPosition="top"
              (click)="newIntervento()"
              class="ml-2"
              styleClass="p-button-success"
            ></p-button>
          </div>
          <div class="p-toolbar-group-center">
            <div class="outlineText flex items-center">
              <span class="text-2xl text-white font-bold mr-2">
                {{ this.fullName }}
              </span>
              <span> Interventi Totali: {{ this.getInterventi(this.id) }}</span>
            </div>
          </div>
          <div class="p-toolbar-group-end">
            <p-button
              pTooltip="Stampa Multi-S"
              tooltipPosition="top"
              [disabled]="checkEnableStampaMultiScontrino()"
              styleClass="p-button-raised p-button-danger w-full"
              icon="pi pi-print"
              (click)="
                !checkEnableStampaMultiScontrino() ? openModalScontrino() : null
              "
              *ngIf="multipleSelection"
              [@fadeInOut]
            ></p-button>
            <p-button
              [pTooltip]="
                multipleSelection ? 'Disattiva Multi-S' : ' Attiva Multi-S'
              "
              tooltipPosition="top"
              styleClass="p-button-raised p-button-secondary w-full"
              class="ml-2"
              icon="pi pi-book"
              (click)="selezioneScontrinoMultiplo()"
            ></p-button>
          </div>
        </p-toolbar>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem" *ngIf="multipleSelection">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="tipo_intervento">
            {{ "user_data.tipo_intervento" | translate }}
            <p-sortIcon field="tipo_intervento"></p-sortIcon>
          </th>
          <th pSortableColumn="modello_telefono">
            {{ "user_data.modello_telefono_table" | translate }}
            Prodotto<p-sortIcon field="modello_telefono"></p-sortIcon>
          </th>
          <th pSortableColumn="data_intervento">
            {{ "user_data.data_intervento" | translate }}
            <p-sortIcon field="data_intervento"></p-sortIcon>
          </th>
          <th pSortableColumn="costo">
            {{ "user_data.costo" | translate }}
            <p-sortIcon field="costo"></p-sortIcon>
          </th>
          <th>
            {{ "user_data.azioni" | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-specificData>
        <tr [pSelectableRowDblClick]="specificData">
          <td *ngIf="multipleSelection">
            <p-tableCheckbox [value]="specificData"></p-tableCheckbox>
          </td>
          <td>
            <span class="p-column-title">
              {{ "user_data.tipo_intervento" | translate }}
            </span>
            {{ specificData.tipo_intervento }}
          </td>
          <td>
            <span class="p-column-title">
              {{ "user_data.modello_telefono_table" | translate }}
            </span>
            {{ specificData.modello_telefono }}
          </td>
          <td>
            <span class="p-column-title">
              {{ "user_data.data_intervento" | translate }}
            </span>
            {{ specificData.data_intervento | date : "dd/MM/yyyy" }}
          </td>
          <td>
            <span class="p-column-title">
              {{ "user_data.totale" | translate }}
            </span>
            {{ getTotalOfProduct(specificData) }}
            €
          </td>
          <td>
            <p-button
              styleClass="p-button-danger"
              icon="pi pi-times-circle"
              pTooltip="Cancella Intervento"
              tooltipPosition="bottom"
              (click)="confirmDeleteIntervento(specificData.id)"
            ></p-button>
            <p-button
              styleClass="p-button-success"
              icon="pi pi-file-excel"
              pTooltip="Crea Excel"
              tooltipPosition="bottom"
              (click)="createExcelFile(specificData)"
              class="ml-2"
            ></p-button>
            <p-button
              styleClass="p-button-help"
              icon="pi pi-print"
              pTooltip="Stampa Scontrino"
              tooltipPosition="bottom"
              (click)="print(specificData)"
              class="ml-2"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nessun intervento per questo cliente.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <!-- Dialog di conferma per rimozione elemento -->
  <app-confirm-dialog></app-confirm-dialog>

  <!-- Dialog per stampa scontrino multipla -->
  <p-dialog
    #dialog
    [modal]="true"
    [(visible)]="showPrintModal"
    (onHide)="closeDialog()"
    [header]="'Stampa Scontrino Multipla'"
    aria-hidden="true"
    [style]="{ width: '50vw' }"
  >
    <p-table [value]="selectedSpecificDataScontrino">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "user_data.modello_telefono_table" | translate }}</th>
          <th>{{ "user_data.costo_noeuro" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-selectedSpecificDataItem>
        <tr>
          <td>{{ selectedSpecificDataItem.modello_telefono }}</td>
          <td>{{ getTotalOfProduct(selectedSpecificDataItem) }}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-button
      label="Stampa"
      styleClass="p-button-info"
      icon="pi pi-print"
      (click)="multiPrint(selectedSpecificDataScontrino)"
      class="grid place-content-center mt-2 mr-2"
    ></p-button>
  </p-dialog>

  <!-- Inizio modale per inserimento nuovo/modifica intervento -->
  <div>
    <p-dialog
      #dialog
      [modal]="true"
      [(visible)]="showModal"
      (onHide)="closeDialog()"
      [header]="modalTitle"
      aria-hidden="true"
      [style]="{ width: '50vw' }"
    >
      <form [formGroup]="specificDataForm">
        <div class="grid md:grid-cols-2 gap-4 mb-3 items-center">
          <div class="mb-3 col-span-2">
            <label for="tipo_intervento" class="label">
              {{ "user_data.tipo_intervento" | translate }}
            </label>
            <span class="p-input-icon-right w-full">
              <i class="pi pi-angle-down"></i>
              <fieldset [disabled]="!isInfo">
                <select
                  #navdrop_tipo_intervento
                  name="tipo_intervento"
                  id="tipo_intervento"
                  class="fields"
                  formControlName="tipo_intervento"
                  (change)="checkValueIntervento()"
                >
                  <option [ngValue]="null" disabled>
                    Seleziona Intervento
                  </option>
                  <option
                    [value]="intervento"
                    *ngFor="let intervento of tipoIntervento"
                  >
                    {{ intervento }}
                  </option>
                </select>
              </fieldset>
            </span>
          </div>
        </div>
        <!-- <ng-select
        [items]="tipoIntervento"
        [(ngModel)]="selectedItem"
      >
      </ng-select> -->
        <div class="grid md:grid-cols-2 gap-2 items-center" *ngIf="showFields">
          <div class="mb-3" *ngIf="showFieldsRiparazione">
            <label for="problema" class="label">
              {{ "user_data.problema" | translate }}
            </label>
            <input
              type="text"
              name="problema"
              id="problema"
              class="fields"
              formControlName="problema"
              required
            />
          </div>
          <div class="mb-3" *ngIf="showFieldsRiparazione">
            <label for="tipo_parte" class="label">
              {{ "user_data.tipo_parte" | translate }}
            </label>
            <span class="p-input-icon-right w-full">
              <i class="pi pi-angle-down"></i>
              <select
                name="tipo_parte"
                id="tipo_parte"
                class="fields"
                formControlName="tipo_parte"
              >
                <option [ngValue]="null" disabled>Seleziona tipo Parte</option>
                <option [value]="parte" *ngFor="let parte of tipoParte">
                  {{ parte }}
                </option>
              </select>
            </span>
          </div>

          <div class="mb-3" *ngIf="showFieldsVendita">
            <label for="garanzia" class="label">
              {{ "user_data.garanzia" | translate }}
            </label>
            <span class="p-input-icon-right w-full">
              <i class="pi pi-angle-down"></i>
              <select
                name="garanzia"
                id="garanzia"
                class="fields"
                formControlName="garanzia"
              >
                <option [ngValue]="null" disabled>Seleziona garanzia</option>
                <option
                  [value]="garanzia"
                  *ngFor="let garanzia of mesiGaranzia"
                >
                  {{ garanzia }}
                </option>
              </select>
            </span>
          </div>

          <div class="mb-3">
            <label for="marca_telefono" class="label">
              {{ "user_data.marca_telefono" | translate }}
            </label>
            <input
              type="text"
              name="marca_telefono"
              id="marca_telefono"
              class="fields"
              formControlName="marca_telefono"
              required
            />
          </div>

          <div class="mb-3">
            <label for="modello_telefono" class="label">
              {{ "user_data.modello_telefono" | translate }}
            </label>
            <input
              type="text"
              name="modello_telefono"
              id="modello_telefono"
              class="fields"
              formControlName="modello_telefono"
              required
            />
          </div>
          <div class="mb-3">
            <label for="imei" class="label">
              {{ "user_data.imei" | translate }}
              <i
                class="pi pi-question-circle"
                style="font-size: 0.75rem"
                pTooltip="Consigliati 15 caratteri"
              ></i>
            </label>
            <span class="p-input-icon-right w-full">
              <i
                class="pi pi-check cursor-pointer"
                (click)="checkImei()"
                *ngIf="showFieldsVendita"
              ></i>
              <input
                type="text"
                name="imei"
                id="imei"
                class="fields fieldImei"
                formControlName="imei"
                required
              />
            </span>
          </div>

          <div class="mb-3" *ngIf="showFieldsVendita">
            <label for="permuta" class="mr-2">{{
              "user_data.permuta" | translate
            }}</label>
            <p-checkbox
              formControlName="checkedPermuta"
              (ngModelChange)="myModelChanged($event)"
              [(ngModel)]="checkedPermuta"
              [binary]="true"
              id="permuta"
              class="mr-2"
            ></p-checkbox>
          </div>

          <div class="mb-3" *ngIf="showFieldsVendita && checkedPermuta">
            <label for="costoPermuta" class="label">
              {{ "user_data.costo_permuta" | translate }}</label
            >
            <input
              type="number"
              name="costoPermuta"
              id="costo"
              class="fields"
              formControlName="costoPermuta"
              required
            />
          </div>
          <div
            class="col-start-1 col-end-3 mb-3"
            *ngIf="showFieldsVendita && checkedPermuta"
          >
            <p-fileUpload
              (onSelect)="onUpload($event)"
              (onRemove)="onRemove($event)"
              [multiple]="true"
              accept="image/*"
              [showCancelButton]="false"
              [showUploadButton]="false"
              maxFileSize="5000000"
            >
              <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles">
                  <li *ngFor="let file of uploadedFiles">
                    <div
                      class="w-full flex justify-evenly items-center border border-neutral-700 rounded-md p-2"
                    >
                      <span>
                        {{ file.file.filename }} -
                        {{ file.file.filesize }} bytes
                      </span>
                      <p-button
                        styleClass="p-button-help"
                        icon="pi pi-download"
                        pTooltip="Download"
                        tooltipPosition="bottom"
                        (click)="downloadFile(file.uploadURL)"
                        class="ml-2"
                      ></p-button>
                    </div>
                  </li>
                </ul>
              </ng-template>
            </p-fileUpload>
          </div>

          <div
            class="col-start-1 col-end-3 mb-3"
            *ngIf="
              showFieldsVendita &&
              checkedPermuta &&
              isUploading &&
              !uploadedFilesDone
            "
          >
            <p-progressBar [value]="percentage" />
          </div>

          <div class="mb-3">
            <label for="costo" class="label">
              {{ "user_data.costo" | translate }}</label
            >
            <input
              type="number"
              name="costo"
              id="costo"
              class="fields"
              formControlName="costo"
              required
            />
          </div>

          <div class="mb-3" *ngIf="showFieldsVendita">
            <label for="costo_sconto" class="label">
              {{ "user_data.costo_sconto" | translate }}</label
            >
            <input
              type="number"
              name="costo_sconto"
              id="costo_sconto"
              class="fields"
              formControlName="costo_sconto"
              required
            />
          </div>

          <div class="mb-3" *ngIf="showFieldsVendita">
            <label for="modalita_pagamento" class="label">
              {{ "user_data.modalita_pagamento" | translate }}
            </label>
            <span class="p-input-icon-right w-full">
              <i class="pi pi-angle-down"></i>
              <select
                name="modalita_pagamento"
                id="modalita_pagamento"
                formControlName="modalita_pagamento"
                class="fields"
              >
                <option [ngValue]="null" disabled>Seleziona Pagamento</option>
                <option
                  [value]="elemtipoPagamento"
                  *ngFor="let elemtipoPagamento of tipoPagamento"
                >
                  {{ elemtipoPagamento }}
                </option>
              </select>
            </span>
          </div>

          <div class="mb-3" *ngIf="showFieldsVendita">
            <label for="tipo_prodotto" class="label">{{
              "user_data.tipo_prodotto" | translate
            }}</label>
            <span class="p-input-icon-right w-full">
              <i class="pi pi-angle-down"></i>
              <select
                name="tipo_prodotto"
                id="tipo_prodotto"
                class="fields"
                formControlName="tipo_prodotto"
              >
                <option [ngValue]="null" disabled>Seleziona Condizioni</option>
                <option
                  [value]="elemcondizioniProdotto"
                  *ngFor="let elemcondizioniProdotto of condizioniProdotto"
                >
                  {{ elemcondizioniProdotto }}
                </option>
              </select>
            </span>
          </div>

          <div class="mb-3" *ngIf="showFieldsRiparazione">
            <label for="codice_sblocco" class="label">{{
              "user_data.codice_sblocco" | translate
            }}</label>
            <input
              type="text"
              name="codice_sblocco"
              id="costo_sconto"
              class="fields"
              formControlName="codice_sblocco"
            />
          </div>
          <div class="mb-3" *ngIf="showFieldsRiparazione">
            <label for="nome_fornitore_pezzo" class="label">{{
              "user_data.nome_fornitore_pezzo" | translate
            }}</label>
            <input
              type="text"
              name="nome_fornitore_pezzo"
              id="nome_fornitore_pezzo"
              class="fields"
              formControlName="nome_fornitore_pezzo"
            />
          </div>
          <div class="mb-3" *ngIf="showFieldsRiparazione">
            <label for="data_consegna_riparazione" class="label">
              {{ "user_data.data_consegna_riparazione" | translate }}
            </label>
            <p-calendar
              [formControl]="
                specificDataForm.controls['data_consegna_riparazione']
              "
              name="data_consegna_riparazione"
              id="data_consegna_riparazione"
              [style]="{ width: '100%' }"
              [showButtonBar]="true"
              required
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>
          <div class="mb-3" *ngIf="showFieldsRiparazione">
            <label for="data_rest_dispositivo_cliente" class="label">
              {{ "user_data.data_rest_dispositivo_cliente" | translate }}
            </label>
            <p-calendar
              [formControl]="
                specificDataForm.controls['data_rest_dispositivo_cliente']
              "
              name="data_rest_dispositivo_cliente"
              id="data_rest_dispositivo_cliente"
              [style]="{ width: '100%' }"
              [showButtonBar]="true"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>

          <div class="mb-3" *ngIf="showFieldsRiparazione">
            <label for="caparra" class="label">
              {{ "user_data.caparra" | translate }}
            </label>
            <input
              type="number"
              name="caparra"
              id="caparra"
              class="fields"
              formControlName="caparra"
            />
          </div>

          <div class="mb-3" *ngIf="showFieldsRiparazione">
            <label for="costoCambio" class="label">
              {{ "user_data.costoCambio" | translate }}
            </label>
            <input
              type="number"
              name="costoCambio"
              id="costoCambio"
              class="fields"
              formControlName="costoCambio"
            />
          </div>

          <div class="mb-3">
            <label for="negozio" class="label">{{
              "user_data.negozio" | translate
            }}</label>
            <span class="p-input-icon-right w-full">
              <i class="pi pi-angle-down"></i>
              <select
                name="negozio"
                id="negozio"
                class="fields"
                formControlName="negozio"
              >
                <option [ngValue]="null" disabled>Seleziona Negozio</option>
                <option
                  [value]="elencoNegozio"
                  *ngFor="let elencoNegozio of negozio"
                >
                  {{ elencoNegozio }}
                </option>
              </select>
            </span>
          </div>

          <div class="col-start-1 col-end-2">
            <label for="prodotti_aggiuntivi" class="mr-2">{{
              "user_data.prodotti_aggiuntivi" | translate
            }}</label>
            <p-checkbox
              formControlName="checkedProdottiAggiuntivi"
              (ngModelChange)="myModelChanged($event)"
              [(ngModel)]="checkedProdottiAggiuntivi"
              [binary]="true"
              id="prodotti_aggiuntivi"
              class="mr-2"
            ></p-checkbox>
          </div>

          <div
            *ngIf="checkedProdottiAggiuntivi"
            class="col-span-2 border border-neutral-700 rounded-md mb-2"
          >
            <div *ngFor="let prodotto of prodottiAggiuntivi">
              <div
                class="grid md:grid-cols-4 place-items-center auto-cols-min ml-2"
              >
                <div class="m-1">
                  <label for="quantita" class="labelShort">{{
                    "user_data.quantita" | translate
                  }}</label>
                  <input
                    #quantita
                    id="quantita"
                    type="number"
                    class="fieldsShort mb-1"
                    (input)="
                      changeValueProdottoAggiuntivi(
                        prodotto.id,
                        costo.value,
                        nome.value,
                        quantita.value
                      )
                    "
                    [(value)]="prodotto.quantita"
                  />
                </div>
                <div class="m-1">
                  <label for="nome" class="labelShort">{{
                    "user_data.nome" | translate
                  }}</label>
                  <input
                    #nome
                    id="nome"
                    type="text"
                    class="fieldsShort mb-1"
                    (input)="
                      changeValueProdottoAggiuntivi(
                        prodotto.id,
                        costo.value,
                        nome.value,
                        quantita.value
                      )
                    "
                    [(value)]="prodotto.nomeProdotto"
                  />
                </div>
                <div class="m-1">
                  <label for="costo" class="labelShort">{{
                    "user_data.costo" | translate
                  }}</label>
                  <input
                    #costo
                    id="costo"
                    type="number"
                    class="fieldsShort mb-1"
                    (input)="
                      changeValueProdottoAggiuntivi(
                        prodotto.id,
                        costo.value,
                        nome.value,
                        quantita.value
                      )
                    "
                    [(value)]="prodotto.costo"
                  />
                </div>
                <p-button
                  styleClass="p-button-secondary pi pi-times"
                  class="flex mt-3"
                  (onClick)="removeProdottoAggiuntivi(prodotto)"
                >
                </p-button>
              </div>
            </div>
            <div
              class="grid md:grid-cols-4 place-items-center auto-cols-min ml-2"
            >
              <div class="m-1">
                <label for="quantita" class="labelShort">{{
                  "user_data.quantita" | translate
                }}</label>
                <input
                  #quantitaProdottoInput
                  id="quantita"
                  type="number"
                  class="fieldsShort mb-1"
                />
              </div>
              <div class="m-1">
                <label for="nome" class="labelShort">{{
                  "user_data.nome" | translate
                }}</label>
                <input
                  #nomeProdottoInput
                  id="nome"
                  type="text"
                  class="fieldsShort mb-1"
                />
              </div>
              <div class="m-1">
                <label for="costo" class="labelShort">{{
                  "user_data.costo" | translate
                }}</label>
                <input
                  #costoProdottoInput
                  id="costo"
                  type="number"
                  class="fieldsShort mb-1"
                />
              </div>
              <p-button
                styleClass="p-button-secondary pi pi-plus"
                class="flex mt-3"
                (onClick)="
                  addProdottoAggiuntivi(
                    quantitaProdottoInput.value,
                    nomeProdottoInput.value,
                    costoProdottoInput.value
                  )
                "
              >
              </p-button>
            </div>
          </div>
        </div>
        <!-- visualizza chi ha fatto l'ultima modifica WIP 
        <div class="row mb-2">
        <p
          [hidden]="!isInfo || !utenteInserimento"
          class="text-gray-500 text-sm italic"
        >
          Utente di inserimento: {{ utenteInserimento }}
        </p>
        <p
          [hidden]="!isInfo || !utenteUltimaModifica"
          [value]="utenteUltimaModifica"
          class="text-gray-500 text-sm italic"
        >
          Utente ultima modifica: {{ utenteUltimaModifica }}
        </p>
      </div> -->
        <div class="flex flex-col items-end justify-end col-start-5 col-end-5">
          <p-button
            styleClass="p-button-raised p-button-secondary"
            [hidden]="!isInfo"
            [disabled]="!specificDataForm.valid"
            (onClick)="addNewIntervento()"
          >
            {{ "user_data.aggiungi" | translate }}
          </p-button>
          <p-button *ngIf="devmode" (onClick)="findInvalidControls()">
            check values
          </p-button>
          <p-button
            styleClass="p-button-raised p-button-secondary"
            [hidden]="isInfo"
            [disabled]="verifyAuthModify()"
            (onClick)="modifyUserIntervento()"
          >
            {{ "user_data.modifica" | translate }}
          </p-button>
        </div>
      </form>
    </p-dialog>
  </div>
  <p-toast [baseZIndex]="3"></p-toast>
</div>

<!-- prettier-ignore -->
