/* You can add global styles to this file, and also import other style files */

.background {
  position: relative;
  width: 100%;
  height: 100vh; /* Altezza a 100% della viewport */
  overflow: hidden;
}

.mainContainer {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.loginLabel {
  font-weight: 800;
  place-items: start;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  margin-bottom: 0.5rem /* 8px */;
  color: var(--text-label-color);
}

.fieldsContainer {
  padding: 17px;
}

.loginContainer {
  display: block;
  border-width: 1px;
  padding: 40px;
  border-radius: 0.5rem;
  background-color: rgb(28 25 23 / var(--tw-bg-opacity));
  min-width: 400px;
}

body.theme-light {
  .loginContainer {
    background-color: rgb(28 25 23 / var(--tw-bg-opacity));
  }
}
body.theme-dark {
  .loginContainer {
    border-color: rgb(75 85 99 / var(--tw-border-opacity));
    background-color: rgb(28 25 23 / var(--tw-bg-opacity));
  }
}

input {
  &.error {
    animation: shake 0.2s ease-in-out 0s 2;
  }
}

small {
  /* &.errorText {
    animation: fadeInOut 5s ease-in-out 0s 1;
  } */
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
