<app-circle-spinner *ngIf="loading"></app-circle-spinner>
<div *ngIf="!loading" class="p-10">
  <div class="grid place-items-center w-auto">
    <div class="loginContainer" (keyup.enter)="CheckLogin()">
      <h1 class="loginLabel">Login</h1>
      <div class="fieldsContainer">
        <div class="mb-2">
          <label for="email_login" class="label"> Email</label>
          <input
            pInputText
            label="email"
            id="email_login"
            name="email_login"
            [(ngModel)]="emailValue"
            class="fields"
            [class.error]="emailError"
            [class.ng-invalid]="emailError"
            [class.ng-dirty]="emailError"
          />
        </div>
        <div class="mb-2">
          <label for="password_login" class="label"> Password</label>
          <input
            pInputText
            label="Password"
            type="password"
            id="password_login"
            name="password_login"
            [(ngModel)]="passwordValue"
            class="fields"
            [class.error]="passwordError"
            [class.ng-invalid]="passwordError"
            [class.ng-dirty]="passwordError"
          />
        </div>

        <span>
          <small
            [hidden]="!passwordError && !emailError"
            class="text-red-400 mb-2"
            ngClass="errorText"
          >
            {{ errorMessage }}</small
          >
        </span>
      </div>

      <p-button
        class="grid place-items-end mt-2"
        label="Login"
        ajax="false"
        styleClass="p-button-secondary"
        (click)="CheckLogin()"
      ></p-button>
    </div>
  </div>
</div>
