<div>
  <div class="card flex justify-content-center mb-3">
    <p-breadcrumb
      class="max-w-full"
      [model]="items"
      [home]="home"
    ></p-breadcrumb>
  </div>
  <p-card>
    <p-table
      #dt1
      stateStorage="session"
      stateKey="invetarioList-session"
      [scrollable]="true"
      scrollHeight="360px"
      [value]="itemsInventario"
      responsiveLayout="stack"
      [loading]="loading"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      selectionMode="single"
      [(selection)]="selectedItem"
      dataKey="key"
      (onRowSelect)="onRowSelect($event)"
      [globalFilterFields]="[
        'nome',
        'colore',
        'prezzo_acquisto',
        'quantita',
        'imei',
        'negozio'
      ]"
      [styleClass]="'p-datatable-sm'"
    >
      <ng-template pTemplate="caption" class="p-0">
        <p-toolbar>
          <div class="p-toolbar-group-start">
            <p-button
              pTooltip="Aggiungi articolo"
              tooltipPosition="top"
              icon="pi pi-plus"
              styleClass="p-button-success"
              [disabled]="!isAdmin"
              (click)="isAdmin ? addItemModal() : null"
            ></p-button>
            <span
              *ngIf="isFilterNegozio"
              class="text-sm text-white font-bold ml-2"
            >
              {{ this.negozioSwitch ? "Negozio B" : "Negozio I" }}
            </span>
          </div>
          <div class="p-toolbar-group-center flex-container">
            <span class="p-input-icon-left responsive-input">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                (input)="dt1.filterGlobal($event.target.value, 'contains')"
                placeholder="Ricerca Inventario"
                class="fields fieldsSearch"
              />
            </span>
          </div>
          <div class="p-toolbar-group-end">
            <!-- <p-button
              *ngIf="this.authService.getIsAdmin()"
              pTooltip="Statistiche Utenti"
              icon="pi pi-chart-bar"
              class="ml-2"
              (click)="op.toggle($event)"
              styleClass="p-button-info"
            ></p-button> -->
            <div class="border rounded-md border-gray-200 p-2">
              <p-button
                [pTooltip]="negozioSwitch ? 'Negozio I' : 'Negozio B'"
                tooltipPosition="top"
                icon="pi pi-shopping-cart"
                styleClass="p-button-secondary"
                (click)="filterNegozio(dt1)"
                class="mr-2"
              >
              </p-button>
              <p-button
                icon="pi pi-filter-slash"
                pTooltip="Cancella Filtro"
                tooltipPosition="top"
                styleClass="p-button-secondary"
                (click)="clear(dt1)"
              >
              </p-button>
            </div>
          </div>
        </p-toolbar>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%">
            IMEI
            <p-columnFilter type="text" field="imei" display="menu" />
          </th>
          <th style="width: 20%">
            Nome
            <p-columnFilter type="text" field="nome" display="menu" />
          </th>
          <th style="width: 20%">
            Colore
            <p-columnFilter type="text" field="colore" display="menu" />
          </th>
          <th style="width: 20%">
            Quantità
            <p-columnFilter type="text" field="quantita" display="menu" />
          </th>
          <th style="width: 20%">
            % Batteria
            <p-columnFilter type="text" field="percentuale" display="menu" />
          </th>
          <th style="width: 20%">
            Memoria (GB)
            <p-columnFilter type="text" field="memoria" display="menu" />
          </th>
          <th style="width: 20%" *ngIf="isAdmin">
            Prezzo Acquisto
            <p-columnFilter
              type="text"
              field="prezzo_acquisto"
              display="menu"
            />
          </th>
          <th style="width: 20%">Azioni</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr [pSelectableRowDblClick]="item">
          <td><span class="p-column-title">IMEI</span>{{ item.imei }}</td>
          <td><span class="p-column-title">Nome</span>{{ item.nome }}</td>
          <td><span class="p-column-title">Colore</span>{{ item.colore }}</td>
          <td>
            <span class="p-column-title">Quantità</span>
            {{ item.quantita }}
          </td>
          <td>
            <span class="p-column-title">% Batteria</span>
            {{ item.perc_batteria }} %
          </td>
          <td>
            <span class="p-column-title">Memoria (GB)</span>
            {{ item.memoria }}
          </td>
          <td *ngIf="isAdmin">
            <span class="p-column-title">Prezzo Acquisto</span>
            {{ item.prezzo_acquisto }} €
          </td>
          <td>
            <p-button
              styleClass="p-button-danger"
              pTooltip="Cancella Articolo"
              tooltipPosition="bottom"
              icon="pi pi-times-circle"
              [disabled]="!isAdmin"
              (click)="isAdmin ? confirmDeleteItem(item.key) : null"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nessun articolo trovato.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <inventario-modal
    *ngIf="showModal"
    [showModal]="showModal"
    (showModalChange)="handleShowModalChange($event)"
  />
  <!-- Modale -->
  <!-- Dialog di conferma per rimozione elemento -->
  <app-confirm-dialog />
  <!-- OverlayPanel per statistiche -->
  <!-- <p-overlayPanel #op>
    <ng-template pTemplate="content">
      <div *ngFor="let item of inventarioResults">
        <span>{{ item.name }}: {{ item.value }}</span>
      </div>
    </ng-template>
  </p-overlayPanel> -->
</div>
